.about-body {
  background-color: rgb(240, 243, 237);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  }

  .about-subtitle {
    background-color: rgb(99, 99, 100);
    position: fixed;
    top: 0;
    width: 100%;
    
  }
 .about-title {
   font-size: 80px;
 }

 .about-team {
   background-color: rgb(232, 65, 16);
 }

 .about-team-title {
   font-size: 30px;
 }

  .about-image {
  width: 10%;
  height: auto;
  
}

.left {
  float: left;
}

.about-deck {
  overflow: hidden;
  border:1px solid black;
}

.about-deck > div {
  width: 80%;
}

.about-blurb {
  text-align: left;
  font-size: 20px;
}

.about-name {
  font-weight: bold;
}

.about-footer {
  background-color: rgb(232, 65, 16);
}

.about-team-section {
  margin-top: 210px;
}
  
.homepage { 
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url(../images/stretch.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em; 
  color:rgb(240, 243, 237);
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.home {
  margin: auto;
  text-align: center;
  /* width: 300px; */
}
.p {
  float: left;
  font-size: 24px;
  width: 500px;
  word-break: break-word;
  white-space: normal;
}
.footer {
font-size: 14px;
}
.links {
  font-size: 14px;
  display: inline-block;
}
.indexH1 {
  font-size: 56px;
}
.indexH3 {
  font-size: 18px;
}

/* disclaimer page */

.dis {
  background-color: rgb(240, 243, 237);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  left: 0;
  line-height: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
}



.btn{
  border-radius: 4px;  
  cursor: pointer;
  padding: 8px 16px;
  
}

.btn:hover{
   background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
   animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


