
html { 
  background-image: url('../images/stretch.jpg'); 
  background-size: cover;
  margin: 0;
  font-size: 2em;
  text-align: center;
  color: white;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

