.all-results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.food-result {
  width: 400px;
  min-height: 250px;
  background-color: rgb(28, 185, 237);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
  font-family: sans-serif;
}

.food-result h2 {
  margin-top: 10px;
  font-size: 45px;
}

.food-result img {
  margin: 10px 0 10px 0;
  width: 300px;
}

.food-result button {
  margin: 10px 0 10px 0;
  height: 30px;
  width: 150px;
  font-size: 18px;
}