
#dash-body {
    background-color:lightgrey;
}
 
#dash-page {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 0%;
}


#dash-table tr {
    background-color: black;
    color: aliceblue;
    width: 10%;
    height: 50%;
    padding: 1px;
    border: 1px solid black;
}

#chartSize {
    grid-column: 2 / 4;
}


#myChart {
    background-color: rgb(69, 117, 161);
    float: right;
    color: white;
}

table {
    border-collapse: collapse; 
    /* border: 1pt solid black; */

}

table tr {
    height: 120%;
}

table td {
    padding: 0%;
}

button {
    border-radius: 10%;
    background-color: rgb(155, 61, 61);
}

button a {
    color: aliceblue;

}

