<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>About Us</title>
    
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface%7CRoboto:300,700" rel="stylesheet">
</head>
  <body class="about-body">
    <header>
        <h1 class="about-title">
            MacTrack
        </h1>
        <h3 class="about-subtitle">~Macro-Nutrient & Exercise Tracker~</h3>
        <nav>
            <hr>
            <ul>
                <form>
                    <input type="button" value="Back to Home Page" onclick="history.back()">
                  </form>
            </ul>
            <hr>
        </nav>
    </header>
    
    <div class="about-team">
        <hr>
        <h2>TEAM MACTRACK</h2>
        <hr>
    </div>
    
        
            <div class="about-deck">
                 <img class="about-image left" src="../images/WhitneyandNikki-Whitney box-0006.jpg" alt="picture of Nikki">
                 <div class="left">
                    <p class="about-blurb" ><span class="about-name">NIKKI</span> -  I am a US Army Veteran and recently discovered the joys of coding. I excel at working in a team to make clients ideas come to fruition. I'm interested in securing a role at a company that will be able to utilize my soft skills and leadership qualities to increase their client base while developing my technical skills.</p><a href="https://www.linkedin.com/in/nikkicarthen/" target = "_blank">LinkedIn</a>
                </div>
            </div>

            
            <div class="about-deck">
                <img class="about-image left" src="../images/Family Photos 017 (2)[146].JPG" alt="picture of Sarkis">
                <div class="left">
                <p class="about-blurb"><span class="about-name">SARKIS</span> - Recent college graduate and military veteran with experience in working with sensitive communication equipment and software for international operations. I always meet deadlines. A current Code Fellows student looking to make an impact in the web development and software fields.</p><a href="https://www.linkedin.com/in/sarkis-aghazarian-94808596/" target = "_blank">LinkedIn</a>
                </div>
            </div>
            
            <div class="about-deck">
                <img class="about-image left" src="../images/Headshot Avatar (1).JPG" alt="picture of Skyler">
                <div class="left">
                <p class="about-blurb"><span class="about-name">SKYLER</span> - I'm a web developer currently specializing in JavaScript. With a background in sound design for performance art and office administration, I strive to be a well organized team member. I am interested in working on projects that make work and life easier for everyone.</p><a href="https://www.linkedin.com/in/skylerburger/" target = "_blank">LinkedIn</a>
                </div>
            </div>
           
            <div class="about-deck">
                <img class="about-image left" src="../images/profilepicresized.jpg" alt="picture of Xochil">
                <div class="left">
                <p class="about-blurb"><span class="about-name">XOCHIL</span> - a longtime entrepenuer in the spa & beauty industry, I have found my way into software development. Problem solving, organizing and collaborating are some of the tools I bring with me.  I am excited to bring diversity and a fresh approach to the world of technology. </p><a href="https://www.linkedin.com/in/xochilsquaglia/" target = "_blank">LinkedIn</a>
                </div>  
            </div>
        
    </div>
    
</body>
<footer>
    <p>COPYRIGHT</p>
    <p>Nikki, Sarkis, Skyler, Xochil</p>
    <p>Codefellows 301 - November 2019</p>
</footer>
</html>