<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" name="" id="">
        <input type="submit" value="Search Nutritionix">
        <button>Create Custom Entry</button>
    </form>
    <form action="">
        <div class="form">
        <div class="checkbox-container">
        <br>
        <label for="history">History:</label>
        <br>
        <br>
        <input type="checkbox" name="food" value="food-item"> Egg<br>
        <input type="checkbox" name="food" value="food-item"> Bacon<br>
        <input type="checkbox" name="food" value="food-item"> Chicken<br>
        <input type="checkbox" name="food" value="food-item"> Avocado<br>
        <input type="checkbox" name="food" value="food-item"> Steak<br>
        <br>
        <input type="submit" value="Submit">

        </div>
        </div>
    </form>
</body>
</html>