<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customize Entry</title>
</head>
<body>
  <main>
    <!-- Blank Food Form -->
    <form action="/save" method="POST">
      <img src="" alt="">
      
      <label for="name">
        Name
        <input type="text" name="name" placeholder="Name">
      </label>
      <label for="image_url">
        Image URL
        <input type="text" name="image_url" placeholder="Image URL">
      </label>
      <label for="protein">
        Protein
        <input type="text" name="protein" placeholder="Protein">
      </label>
      <label for="fat">
        Fat
        <input type="text" name="fat" placeholder="Fat">
      </label>
      <label for="carbs">
        Carbs
        <input type="text" name="Carbs" placeholder="Carbs">
      </label>
      <label for="serving_size">
        Serving Size
        <input type="text" name="serving_size" placeholder="Serving Size">
      </label>
      <label for="serving_unit">
        Serving Unit
        <input type="text" name="serving_unit" placeholder="Serving Unit">
      </label>
      
      <input type="submit" value="Submit">

    </form>
  </main>
</body>
</html>