<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mac-Track Dashboard</title>
</head>
<body>
  <h2>Date will be here</h2>
  <div id="addDash"><img src="https://placeholder.pics/svg/500x500/33A0FF-BFFF68"></div>
  <form>
    <input type="submit" value="Add Food">
    <input type="submit" value="Add Exercise">
    <input type="submit" value="Edit">
  </form>
  <script src="server.js"></script>
</body>
</html>