<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MacTrack</title>
</head>
<body>

  <p>This application was created for entertainment and educational purposes only. The macro-nutrient calculator is loosely based on Mifflin St. Jeor's Resting Metabloic Rate(RMR) equation or Basil Metabolic Rate(BMR). As always, please consult a physician before beginning any diet or exercise program. The creators of this application will not be held responsible for any results achieved through this calculator.</p>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>