<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>!ERROR!</title>
  </head>

  <body>

    <header class="page-links">
      <nav>
        <h1>MacTrack</h1>
        <ul>
          <li><a href="/"><button>Home</button></a></li>
        </ul>
      </nav>
    </header>

    <div class="error">
      <h1>Invalid Input :(</h1>
      <img src="/images/error.JPG" alt="">
    </div>
    
    <%- include('../partials/footer.ejs') %>
  </body>
</html>