<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>MacTrack</title>
</head>
<body>
  <h1>MacTrack</h1>
  <h3>The Simple Macronutrient Tracker</h3>
  <h5>Powered by Nutritionix</h5>

  <button>Register</button>
  <a href="register">Register</a>
  <a href="dash/1">Sign In</a>
  <form action="/sign_in" method="POST">
    <input type="text" name="user" placeholder="name">
    <button type="submit">Submit</button>

  </form>

  <p>Ready to start dieting?  We have your back with MacTrack. You can track your macro-nutrients with MacTrack - an on-the-go tool for any busy lifestyle.  Choose from over 600,000 tracked foods, local restaurants and various exercise activities to help you keep on track with your health goals. Register to create a account, or sign in if you already have one! </p>
  <img src="/images/macTrackHomePage.jpg" alt="health food">
  <%- include('../partials/footer.ejs') %>
</body>
</html>