<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>REGISTER</title>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <form action="/register" method="POST">
    <input type="text" name="name" placeholder="name">
    <select name="sex">
      <option>male</option>
      <option>female</option>
    </select>
    <input type="number" name="age" placeholder="age">
    <input type="number" name="weight" placeholder="weight in lbs">
    <select name="feet">
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
    </select>
    <select name="inches">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
  </select>
  <select name="activity_level">
      <option value="1.2">sedentary</option>
      <option value="1.4">light</option>
      <option value="1.6">moderate</option>
      <option value="1.8">super</option>
  </select>
  <button type="submit">Submit</button>
    
    </form>
  <%- include('../partials/footer.ejs') %>
</body>
</html>